body, html{
    margin: 0;
    padding: 0;
}

.addTask{
    display: flex;
    justify-content: center;
    background-color: teal;
    padding: 20px;
}

.addTask input{
    border-radius: 4px;
    margin-right: 6px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listItem{
    display: flex;
    align-items: center;
}

.listItem h1{
    font-family: Arial;
    margin-right: 10px;
}

.listItem button{
    height: 25px;
    margin-right: 10px;
}